.about {
  padding-block-start: calc(var(--section-padding-s) + 50px);
}

.section-text {
  padding-block: 12px;
}

.section-title {
  margin-block: 16px;
}

@media (min-width: 1200px) {
  .section-text {
    width: min(75ch, 75%);
  }
}
